cd {{{artifacts.local}}}/../chaincode/fabcar
yarn install
yarn build

cd ../op
yarn install
yarn build

# Install chaincode 2.0
{{#orgs.peer}}
{{#peers.endpoints}}
docker exec cli{{network.host-delimiter}}{{domain}} sh -c "/setup/install_chaincode.sh {{domain}} {{-}} fabcar fabcar 2.0 {{port}} {{{admin-cert-path}}} {{{cert-path}}}"
docker exec cli{{network.host-delimiter}}{{domain}} sh -c "/setup/install_chaincode.sh {{domain}} {{-}} op eventstore 2.0 {{port}} {{{admin-cert-path}}} {{{cert-path}}}"
docker exec cli{{network.host-delimiter}}{{domain}} sh -c "/setup/install_chaincode.sh {{domain}} {{-}} op privatedata 2.0 {{port}} {{{admin-cert-path}}} {{{cert-path}}}"
sleep 5
{{/peers.endpoints}}
{{/orgs.peer}}

# Copy files to the container
cd ../../operations/upgradecc/scripts
mkdir -p {{{artifacts.local}}}/upgradecc
cp container/upgrade_chaincode_org1.sh {{{artifacts.local}}}/upgradecc

# Upgrade chaincode
docker exec cli{{network.host-delimiter}}{{orgs.peer.0.domain}} sh -c "{{{artifacts.docker}}}/upgradecc/upgrade_chaincode_org1.sh"

# Invoke chaincode
docker exec cli{{network.host-delimiter}}{{orgs.peer.0.domain}} sh -c "/setup/invoke_chaincode_org1.sh"