# Copy container script
cp container/join_channel_addorg.sh {{{artifacts.local}}}

# Join channel
docker exec cli{{network.host-delimiter}}{{orgs.addorg.domain}} sh -c "{{{artifacts.docker}}}/join_channel_addorg.sh"